.mdc-list-item__primary-text {
  --mdc-list-list-item-label-text-size: 14px
  
}

.mat-mdc-nav-list .mat-mdc-list-item {
  // border-radius:
  --mat-list-active-indicator-shape: 9px;
  --mat-mdc-focus-indicator-border-radius: 9px;
}