<div class="row">
  <!-- ============================ INPUT FILL ============================  -->
  <div class="col-xxl-4 col-lg-3 col-md-4 col-sm-12">
    <p>Input Fill (accent)</p>
    <mat-form-field class="example-full-width" appearance="fill" color="accent">
      <mat-label>Label</mat-label>
      <input matInput placeholder="Enter username...">
    </mat-form-field>
    <p>Input Fill (primary)</p>
    <mat-form-field class="example-full-width" appearance="fill" color="primary">
      <mat-label>Input</mat-label>
      <input matInput placeholder="Enter username...">
    </mat-form-field>
    <p>Input Fill (warn)</p>
    <mat-form-field class="example-full-width" appearance="fill" color="warn">
      <mat-label>Input</mat-label>
      <input matInput placeholder="Enter username...">
    </mat-form-field>
    <p>Without label</p>
    <mat-form-field class="example-full-width" appearance="fill" color="warn">
      <input matInput placeholder="Enter username...">
    </mat-form-field>
  </div>

  
  <div class="col-xxl-4 col-lg-3 col-md-4 col-sm-12">
    <!-- ============================ INPUT OUTLINE ============================  -->
    <p>Input Outline (accent)</p>
    <mat-form-field class="example-full-width" appearance="outline" color="accent">
      <mat-label>Input</mat-label>
      <input matInput placeholder="Enter username...">
    </mat-form-field>
    <p>Input Outline (primary)</p>
    <mat-form-field class="example-full-width" appearance="outline" color="primary">
      <mat-label>Input</mat-label>
      <input matInput placeholder="Enter username...">
    </mat-form-field>
    <p>Input Outline (warn)</p>
    <mat-form-field class="example-full-width" appearance="outline" color="warn">
      <mat-label>Input</mat-label>
      <input matInput placeholder="Enter username...">
    </mat-form-field>
    <p>Without label</p>
    <mat-form-field class="example-full-width" appearance="outline" color="warn">
      <input matInput placeholder="Enter username...">
    </mat-form-field>
  </div>

  <div class="col-xxl-4 col-lg-3 col-md-4 col-sm-12">
    <!-- ============================ INPUT WITH ICON ============================  -->
    <p>Input With Icon (outline)</p>
    <mat-form-field appearance="outline">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="placeholder">
      <mat-icon matSuffix class="material-icons-outlined"></mat-icon>
      <mat-hint>Hitn</mat-hint>
    </mat-form-field>
    <br><br>

     <!-- ============================ TEXTAREA ============================  -->
    <p>Mat Text Area</p>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Placeholder ....."></textarea>
    </mat-form-field>
  </div>

  <div class="col-xxl-4 col-lg-3 col-md-4 col-sm-12">
    <!-- ============================ INPUT OUTLINE ============================  -->
    <p>Input Disabled (fill)</p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput placeholder="Enter username..." value="123" disabled>
    </mat-form-field>
    <p>Input Disabled (outline)</p>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Input</mat-label>
      <input matInput placeholder="Enter username..." value="123 disabled" disabled>
    </mat-form-field>
    <p>Input Disabled (outline)</p>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Input</mat-label>
      <input matInput placeholder="Enter username..." disabled="">
    </mat-form-field>
    <p>Mat TextArea</p>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput placeholder="Enter username..." value="textarea value" disabled>
    </mat-form-field>
  </div>
</div>