.mat-mdc-unelevated-button {
  // Font Size
  --mdc-filled-button-label-text-size : 12px;
  // Height
  --mdc-filled-button-container-height: 32px;
  // Border radius
  --mdc-filled-button-container-shape: 6px;

  // padding: 0 var(--mat-filled-button-horizontal-padding, 16px);
  // box-shadow: var(--mdc-filled-button-container-elevation-shadow, var(--mat-app-level1));
  // font-family: var(--mdc-filled-button-label-text-font, var(--mat-app-label-large-font));
  // letter-spacing: var(--mdc-filled-button-label-text-tracking, var(--mat-app-label-large-tracking));
  // text-transform: var(--mdc-filled-button-label-text-transform);
  // font-weight: var(--mdc-filled-button-label-text-weight, var(--mat-app-label-large-weight));
  
}