:root.dark {
  --sys-background: #121318;
  --sys-on-background: #e3e1e9;
  --sys-surface: #121318;
  --sys-surface-dim: #121318;
  --sys-surface-bright: #38393f;
  --sys-surface-container-lowest: #0d0e13;
  --sys-surface-container-low: #1a1b21;
  --sys-surface-container: #1e1f25;
  --sys-surface-container-high: #292a2f;
  --sys-surface-container-highest: #34343a;
  --sys-on-surface: #e3e1e9;
  --sys-surface-variant: #45464f;
  --sys-on-surface-variant: #c5c6d0;
  --sys-inverse-surface: #e3e1e9;
  --sys-inverse-on-surface: #2f3036;
  --sys-outline: #8f909a;
  --sys-outline-variant: #45464f;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #b3c5ff;
  --sys-primary: #b3c5ff;
  --sys-on-primary: #1a2e60;
  --sys-primary-container: #324478;
  --sys-on-primary-container: #dbe1ff;
  --sys-inverse-primary: #4a5c92;
  --sys-secondary: #b2c5ff;
  --sys-on-secondary: #182e60;
  --sys-secondary-container: #304578;
  --sys-on-secondary-container: #dae2ff;
  --sys-tertiary: #efb4e9;
  --sys-on-tertiary: #4b1f4b;
  --sys-tertiary-container: #643663;
  --sys-on-tertiary-container: #ffd6f8;
  --sys-error: #ffb4ab;
  --sys-on-error: #561e19;
  --sys-error-container: #73342d;
  --sys-on-error-container: #ffdad5;
  --sys-neutral: #76767d;
  --sys-neutral-variant: #75767f;
  --sys-primary-fixed: #dbe1ff;
  --sys-primary-fixed-dim: #b3c5ff;
  --sys-on-primary-fixed: #00174a;
  --sys-on-primary-fixed-variant: #324478;
  --sys-secondary-fixed: #dae2ff;
  --sys-secondary-fixed-dim: #b2c5ff;
  --sys-on-secondary-fixed: #001848;
  --sys-on-secondary-fixed-variant: #304578;
  --sys-tertiary-fixed: #ffd6f8;
  --sys-tertiary-fixed-dim: #efb4e9;
  --sys-on-tertiary-fixed: #330834;
  --sys-on-tertiary-fixed-variant: #643663;
  --sys-inverse-secondary: #495d92;
  --sys-inverse-tertiary: #7e4d7c;
  --sys-inverse-error: #904a43;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
