:root,
:host {
  --sys-background: #faf8ff;
  --sys-on-background: #1a1b21;
  --sys-surface: #faf8ff;
  --sys-surface-dim: #dad9e0;
  --sys-surface-bright: #faf8ff;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #f4f3fa;
  --sys-surface-container: #eeedf4;
  --sys-surface-container-high: #e9e7ef;
  --sys-surface-container-highest: #e3e1e9;
  --sys-on-surface: #1a1b21;
  --sys-surface-variant: #e2e2ec;
  --sys-on-surface-variant: #45464f;
  --sys-inverse-surface: #2f3036;
  --sys-inverse-on-surface: #f1f0f7;
  --sys-outline: #757680;
  --sys-outline-variant: #c5c6d0;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #4a5c92;
  --sys-primary: #4a5c92;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #dbe1ff;
  --sys-on-primary-container: #324478;
  --sys-inverse-primary: #b3c5ff;
  --sys-secondary: #495d92;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #dae2ff;
  --sys-on-secondary-container: #304578;
  --sys-tertiary: #7e4d7c;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #ffd6f8;
  --sys-on-tertiary-container: #643663;
  --sys-error: #904a43;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad5;
  --sys-on-error-container: #73342d;
  --sys-neutral: #76767d;
  --sys-neutral-variant: #75767f;
  --sys-primary-fixed: #dbe1ff;
  --sys-primary-fixed-dim: #b3c5ff;
  --sys-on-primary-fixed: #00174a;
  --sys-on-primary-fixed-variant: #324478;
  --sys-secondary-fixed: #dae2ff;
  --sys-secondary-fixed-dim: #b2c5ff;
  --sys-on-secondary-fixed: #001848;
  --sys-on-secondary-fixed-variant: #304578;
  --sys-tertiary-fixed: #ffd6f8;
  --sys-tertiary-fixed-dim: #efb4e9;
  --sys-on-tertiary-fixed: #330834;
  --sys-on-tertiary-fixed-variant: #643663;
  --sys-inverse-secondary: #b2c5ff;
  --sys-inverse-tertiary: #efb4e9;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
